html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  justify-content: center;
}

.logo-argpro {
  margin-right: 1rem;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  border-radius: 15px;
}

.ico {
  width: 35px;
  margin: 4px;
}

.nav-container{
  display: flex;
  justify-content: center;
}
.socialmedia-container {

  display: flex;
  align-items: center;
  margin-left: auto;
}

.yoprogramo-container {

  display: flex;
  align-items: center;
  margin-right: auto;

}

button {
  width: 6rem;
  height: 3rem;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
  color: azure;
  background-color: rgb(192, 43, 189);
  
}
.banner img {
  width: 70%;
  margin: 0 auto;
  padding-top: 2px;
  display: block;
}
.perfil img {
  border-radius: 100px;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
h2 {
  font-size: 4rem;
  text-align: center;
}
p {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}