html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  max-width: 100%;
}

body {
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

.logo-argpro {
  margin-right: 1rem;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  border-radius: 15px;
  min-width: 50%;
}

.ico {
  width: 35px;
  margin: 2px;
  max-width: 100%;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.socialmedia-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  min-width: min-content;
  flex-wrap: wrap;
}

.yoprogramo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button {
  max-width: 30%;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
  color: azure;
  background-color: rgb(192, 43, 189);
}
.banner img {
  width: 100%;
  padding-top: 10px;
  position: relative;
}
.perfil img {
  border-radius: 100px;
  max-width: 30%;
}
@media (max-width: 768px) {
  .perfil{
    justify-content: center;
  }   
}
.perfil {
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}
h1{
  text-size-adjust: calc(50%);
}

h2 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
  text-align: center;
}
p {
  background-color: #80bdf3;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}
